<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Courses</title>
	<meta name="theme-color" content="#c9e0e04d">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
	<link rel="stylesheet" href="styles/main.css">
</head>

<body>
	@@include("../blocks/modules/courses-main/courses-main.html")
	@@include("../blocks/modules/carousel/carousel.html")
	<section id="certificate" class="certificate">
		<div class="container">
			<div class="certificate__wrapper">
				<div class="certificate__left">
					<div class="title">Createx Certificate</div>
					<div class="subtitle">Your expertise will<br> be confirmed</div>
					<div class="certificate__text">We are accredited by international professional<br> organizations and
						institutes:</div>
					<div class="certificate__block">
						<img src="img/sprites/logo1.svg" alt="1" class="certificate__logo">
						<img src="img/sprites/logo2.svg" alt="2" class="certificate__logo">
						<img src="img/sprites/logo3.svg" alt="3" class="certificate__logo">
					</div>
				</div>
				<img src="img/04.png" alt="04" class="certificate__image certificate__image_static">
			</div>
		</div>
	</section>

	@@include("../blocks/modules/footer/footer.html")
	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>

</html>