<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Createx</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    @@include("../blocks/modules/header/header.html")
    @@include("../blocks/modules/about/about.html")
    @@include("../blocks/modules/courses/courses.html")
    @@include("../blocks/modules/benefits/benefits.html")
    @@include("../blocks/modules/events/events.html")
    @@include("../blocks/modules/certificate/certificate.html")
    @@include("../blocks/modules/carousel/carousel.html")
    @@include("../blocks/modules/blog/blog.html")
    @@include("../blocks/modules/subscribe/subscribe.html")
    @@include("../blocks/modules/footer/footer.html")

	<script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>